.desc-wrapper {
  padding-left: 20px;
  padding-bottom: 40px;
  position: relative;
}

hr {
    height: 1px;
    background-color: #eeeeee;
    border: none;
}

.remark {
  color: #4646464f;
  font-family: 'Playfair Display SC', serif;
  font-size: 14px;
}

.days-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.day {
    text-align: center;
    max-width: 20rem;
}

.title {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-weight: normal;
    color: #464646;
    font-size: 1.5em;
    letter-spacing: 6.5px;
    margin: 36px 0;
}

.date, .ev-place {
    color: #515151;
    font-family: 'Playfair Display SC', serif;
    font-size: 10pt;
    letter-spacing: 6px;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px 3rem;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #777272db;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
    display: flex;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    font-family: 'Playfair Display SC', serif;
    font-size: 10pt;
    letter-spacing: 6px;
    margin-left: 4%;
    width: 26%;
    border-radius: 2px;
    padding: 20px;
    position: relative;
  }
  .timeline > li > .timeline-badge {
    color: #eeeeee;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    margin-left: -33.5px;
    z-index: 100;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }

  .palette-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .color-circle {
    display: block;
    height: 116px;
    width: 320px;
  }
  i {
    color: #777272db
  }

  .blue {
    background: url('../../assets/blue-p.png');
    background-size: contain;
    background-repeat: no-repeat;

  }

  .green {
    background: url('../../assets/green-p.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .white {
    background: url('../../assets/white-p.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

    .rsvp {
      text-align: center;
      font-family: 'Playfair Display SC', serif;
      font-weight: normal;
      color: #46464626;
      font-size: 7.5em;
    }

    .btn-box {
      display: flex;
      justify-content: center;
    }

    .rsvp-btn {
      font-family: 'Playfair Display SC', serif;
      color: #46464657;
      border-radius: 5px;
      font-size: 1.5rem;
      text-decoration: none;
      background: transparent;
      padding: 7px;
      margin: 5px;
      position: relative;
      display: inline-block;
      box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    }

    .rsvp-btn:hover {
      background-color: #46464657;
      transition: ease-in-out;
      color: white;
    }