body {
    font-size: 10px;
}

.bg-branch {
    position: absolute;
    background-image: url('../assets/pngegg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-width: 400px;
    min-height: 1000px;
    opacity: .4;
}

.bg-branch-2 {
    top: 122%;
    left: 50%;
    transform: rotate(182deg);
    position: absolute;
    background-image: url('../assets/pngegg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-width: 400px;
    min-height: 1000px;
    opacity: .4;
}

@media screen and (max-device-width: 480px) {
    .bg-branch-2 {
        left: 0;
        top: 228%;
        transform: rotate(182deg);
        position: absolute;
        background-image: url('../assets/pngegg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        min-width: 400px;
        min-height: 1000px;
        opacity: .4;
    }
}



.app-sheet {
    opacity: .9;
    min-width: 400px;
    background: url('../assets/bg-new.png') center top no-repeat;
    background-color: #f4f4ea8a;
    box-shadow:inset 2px 2px 2px 0px rgba(148,143, 143,.2),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.left-figure {
    position: absolute;
    width: 10rem;
    height: 23rem;
    bottom: 15%;
    right: 20%;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.right-figure {
    height: 23rem;
    width: 10rem;
    position: absolute;
    left: 20%;
    border-top: 2px solid#eeeeee;
    top: 10%;
    border-left: 2px solid #eeeeee;
}

@media screen and (max-device-width: 953px) {
    .left-figure, .right-figure {
        display: none;
    }
}

.app-sheet__main {
    /* box-shadow: 8px 14px 30px 2px; */
}